@import '../styles/variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 10dvh 5dvh;
    position: relative;
    border-bottom: 1px solid $primaryWhite;

    .size {
        flex: 1;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container-paragraph {
        font-size: 1.3rem;
        margin-top: 5dvh;
        margin-bottom: 5dvh;
        color: $grey;
        line-height: 2rem;
    }

    .container-btn {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: 1.5rem;
        border-bottom: 2px solid $green;
        transition: color .8s;
    }

    .container-btn:hover {
        color: $green;
    }

    .image {
        position: absolute;
        right: -30dvh;
    }
}

.technologies {
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
    gap: 10dvh;
    text-align: center;

    .card-tech {
        font-size: 3rem;
        color: $white;
        margin-bottom: 4dvh;
        font-weight: 600;
    }

    .card-experience {
        font-size: 1.3rem;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding: 15dvh 5dvh;

    h2 {
        text-align: center;
        font-size: 3.5rem;
    }

    .grid-container {
        gap: 5dvh;
        padding-top: 7dvh;

        .card {
            margin-top: 12dvh;
            margin-bottom: 5dvh;
            position: relative;

            img {
                filter: brightness(50%);
                transition: transform .9s;
                border-radius: 1dvh;
            }

            img:hover {
                transform: scale(1.1);
            }

            .card-title {
                font-family: 'Poppins', serif;
                font-size: 1.7rem;
                font-weight: 600;
                color: $primaryWhite;
                text-align: center;
                margin-top: 3dvh;
            }

            .card-paragraph {
                font-size: 1.3rem;
                text-align: center;
                color: $grey;
                margin-top: 2dvh;
            }

            .card-btn {
                transition: opacity 1s;
                opacity: 0;

                .project,
                .code {
                    position: absolute;
                    bottom: 50%;
                    z-index: 33;
                    color: $primaryWhite;
                }

                .project {
                    position: absolute;
                    left: 20%;
                    transition: color .8s, border-bottom .8s;
                }

                .project:hover {
                    color: $green;
                    border-bottom: 2px solid $green;
                }

                .code {
                    position: absolute;
                    left: 60%;
                    transition: color .8s, border-bottom .8s;
                }

                .code:hover {
                    color: $green;
                    border-bottom: 2px solid $green;
                }
            }

            &:hover .card-btn {
                opacity: 1;
            }
        }

    }
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 15dvh 5dvh;

    div {
        flex: 1;
    }

    .contact {
        display: flex;
        flex-direction: column;

        h3 {
            color: $primaryWhite;
            font-size: 3.5rem;
            font-family: 'Poppins', serif;
            font-weight: 600;
            margin-bottom: 5dvh;
        }

        p {
            font-size: 1.3rem;
            color: $grey;
            line-height: 2rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name, .email, .message {
            display: flex;

            p {
                margin-top: 2dvh;
                margin-right: 2dvh;
                color: $grey;
                text-align: center;
            }

            #text, #email, #msg {
                width: 70dvh;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid $white;
                color: $white;
            }

            #text, #email {
                height: 10dvh;
            }

            #msg {
                height: 30dvh;
            }
        }

        .send-msg-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                margin-top: 3dvh;
                color: $primaryWhite;
                background-color: transparent;
                border-bottom: 2px solid $green;
                border: none;
                transition: color .8s;
            }

            button:hover {
                color: $green;
            }
        }
    }
}