@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 10dvh 5dvh;
  position: relative;
  border-bottom: 1px solid #e5e7eb;
}
.container .size {
  flex: 1;
}
.container h1 {
  font-size: 3.5rem;
}
.container .container-paragraph {
  font-size: 1.3rem;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  color: rgb(217, 217, 217);
  line-height: 2rem;
}
.container .container-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(78, 225, 160);
  transition: color 0.8s;
}
.container .container-btn:hover {
  color: rgb(78, 225, 160);
}
.container .image {
  position: absolute;
  right: -30dvh;
}

.technologies {
  max-width: 1240px;
  margin: auto;
  padding-top: 5dvh;
  gap: 10dvh;
  text-align: center;
}
.technologies .card-tech {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 4dvh;
  font-weight: 600;
}
.technologies .card-experience {
  font-size: 1.3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: 15dvh 5dvh;
}
.projects h2 {
  text-align: center;
  font-size: 3.5rem;
}
.projects .grid-container {
  gap: 5dvh;
  padding-top: 7dvh;
}
.projects .grid-container .card {
  margin-top: 12dvh;
  margin-bottom: 5dvh;
  position: relative;
}
.projects .grid-container .card img {
  filter: brightness(50%);
  transition: transform 0.9s;
  border-radius: 1dvh;
}
.projects .grid-container .card img:hover {
  transform: scale(1.1);
}
.projects .grid-container .card .card-title {
  font-family: "Poppins", serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: #e5e7eb;
  text-align: center;
  margin-top: 3dvh;
}
.projects .grid-container .card .card-paragraph {
  font-size: 1.3rem;
  text-align: center;
  color: rgb(217, 217, 217);
  margin-top: 2dvh;
}
.projects .grid-container .card .card-btn {
  transition: opacity 1s;
  opacity: 0;
}
.projects .grid-container .card .card-btn .project,
.projects .grid-container .card .card-btn .code {
  position: absolute;
  bottom: 50%;
  z-index: 33;
  color: #e5e7eb;
}
.projects .grid-container .card .card-btn .project {
  position: absolute;
  left: 20%;
  transition: color 0.8s, border-bottom 0.8s;
}
.projects .grid-container .card .card-btn .project:hover {
  color: rgb(78, 225, 160);
  border-bottom: 2px solid rgb(78, 225, 160);
}
.projects .grid-container .card .card-btn .code {
  position: absolute;
  left: 60%;
  transition: color 0.8s, border-bottom 0.8s;
}
.projects .grid-container .card .card-btn .code:hover {
  color: rgb(78, 225, 160);
  border-bottom: 2px solid rgb(78, 225, 160);
}
.projects .grid-container .card:hover .card-btn {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */